
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.full-height {
    height:100%;
}

.position-ref {
    position: relative;
}
  
.code {
border-right: 2px solid;
font-size: 26px;
padding: 0 15px 0 15px;
text-align: center;
}

.message {
    font-size: 18px;
    text-align: center;
}